/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden;
    width: 100vw;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden; /* Impede o scroll horizontal */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 1em;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: relative;
}

.menu-toggle {
    font-size: 1.5em;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5em;
    transition: color 0.3s ease;
}

.menu-toggle:hover {
    color: #d3d3d3;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%; /* Ajustado para 30% */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 1000;
    transition: transform 0.5s ease-in-out; /* Animação mais lenta */
    transform: translateX(-100%); /* Inicialmente fora da tela */
}

.menu.open {
    transform: translateX(0); /* Menu dentro no mobile */
}

.menu-divider {
    border: none; /* Remove a borda padrão */
    border-top: 1px solid #CCCCCC; /* Adiciona uma borda superior cinza */
    margin: 10px 0; /* Espaçamento acima e abaixo da linha */
    z-index: 1000;
    width: 100%;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    width: 100%;
}

.menu a:hover {
    background-color: #f0f0f0;
}

.menu i {
    margin-right: 10px;
}

.clock-icon-exclusive {
    cursor: pointer;
    font-size: 1.5em;
    color: #ffffff;
    padding: 0.5em;
    transition: color 0.3s ease;
}

.clock-icon-exclusive:hover {
    color: #d3d3d3;
}

.logo {
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

.logo2 {
    max-width: 150px;
    margin-left: 10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.playlist-cover-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.playlist-cover-container img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin: 20px 0;
}

main {
    padding: 1em;
    max-width: 800px;
    width: 100%;
    background-color: #1f1f1f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    box-sizing: border-box;
}

h3.playlist-title {
    color: #ffffff;
    text-align: center;
    margin: 10px 0;
}

#playlist-songs {
    width: 100%;
}

.playlist-song {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.playlist-song img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 15px;
}

.playlist-song-info {
    flex-grow: 1;
}

.playlist-song-info h4 {
    margin: 0;
    font-size: 1em;
    color: #ffffff;
}

.playlist-song-info p {
    margin: 0;
    font-size: 0.9em;
    color: #999999;
}

@media (max-width: 768px) {
    .menu {
        width: 60%;
    }

    .playlist-cover-container img {
        max-width: 100%;
    }
}

/* Estilos para o modal */
.modal-exclusive {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content-exclusive {
    background-color: #1f1f1f;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    color: #ffffff;
    border-radius: 10px;
    text-align: left;
}

.close-modal-exclusive {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal-exclusive:hover,
.close-modal-exclusive:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#set-timer-button-exclusive,
#save-playlist-button {
    background-color: #05d26d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1em;
    width: 100%; /* Garantir que o botão ocupe toda a largura do modal em telas menores */
}

#set-timer-button-exclusive:hover,
#save-playlist-button:hover {
    background-color: #04b65c;
}

input[type="text"],
input[type="file"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #ffffff;
}

@media (max-width: 768px) {
    .modal-content-exclusive {
        width: 90%;
        max-width: none;
    }

    .set-timer-button-exclusive,
    .save-playlist-button {
        font-size: 1em;
        padding: 10px;
    }
}

/* Estilos para a lista de músicas */
#playlist-songs {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playlist-songs div.song {
    background-color: #333;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#playlist-songs div.song p {
    margin: 0;
    color: #fff;
    font-size: 1em;
}

#playlist-songs div.song button {
    background-color: #ff4757;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

#playlist-songs div.song button:hover {
    background-color: #ff6b81;
}

/* Estilo do input de música no formulário */
#playlist-files {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #ffffff;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]::before {
    content: 'Selecionar Músicas';
    display: inline-block;
    background: linear-gradient(to top, #09a858, #05d26d);
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    color: #ffffff;
    margin-right: 10px;
    box-shadow: 0 0 15px #05d26d;
    text-align: center;
    transition: background-color 0.3s ease;
}

input[type="file"]:hover::before {
    background: linear-gradient(to top, #07b450, #04c45c);
}

input[type="file"]:focus::before {
    outline: none;
    background: linear-gradient(to top, #07b450, #04c45c);
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}
input[type="file"]::file-selector-button {
    visibility: hidden;
}

/* Estilos para o botão "Criar Playlist" */
.create-playlist-button {
    background: linear-gradient(to top, #09a858, #05d26d);
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1.2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px #05d26d;
    transition: background 0.3s;
}

.create-playlist-button:hover {
    background: linear-gradient(to top, #07b450, #04c45c);
}

.create-playlist-button:focus {
    outline: none;
    background: linear-gradient(to top, #07b450, #04c45c);
}

/* Adicionando responsividade */
@media (max-width: 768px) {
    .modal-content-exclusive {
        width: 90%;
        max-width: none;
    }

    .playlist-cover-container img {
        max-width: 100%;
    }

    .create-playlist-button {
        font-size: 1em;
        padding: 10px;
    }
}
